.new_vocab {
    text-align: center;
    font-size: 40px;
    margin: 35px auto 20px;
}

.box {
    background-color: #C7DBF0;
    border: 2px solid #333;
    border-radius: 5px;
    max-width: 900px;
    margin: 40px 0 0 180px;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.advice {
    font-size: 16px;
}