:root {
    --primary-yellow: #fff176;
    --hover-yellow: #fff59d;
    --pink-logout: #FAA0A0;
    --red-logout: #F08080;
    --border-color: #000;
    --white-home: #fff;
    --white-hover: #F5F5F5;
    --pikky-delete: #F8C8DC;
    --yellow-save: #FFEE8C;
}

body {
    background-image: url('/pic/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Google Sans", sans-serif;
}

a {
  text-decoration: none !important; /* เอาขีดเส้นใต้ออก */
  color: #000;
}

.home-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--white-home);
    position: absolute; 
    top:40px;
    left: 110px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.home-btn:hover {
    background-color: var(--white-hover);
}

.logout-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--pink-logout);
    position: absolute; 
    top: 40px;
    right: 110px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.logout-btn:hover {
    background-color: var(--red-logout);
}

.save-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--yellow-save);
    position: absolute; 
    top:130px;
    right: 160px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.save-btn:hover {
    background-color: var(--hover-yellow);
}

.delete-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--pikky-delete);
    position: absolute; 
    top:130px;
    right: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.delete-btn:hover {
    background-color: #FFC0CB;
}

.shuffle-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--pikky-delete);
    position: absolute; 
    top:40px;
    right: 280px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.shuffle-btn:hover {
    background-color: #FFA6CA;
}