:root {
    --primary-yellow: #fff176;
    --hover-yellow: #fff59d;
    --pink-logout: #FAA0A0;
    --red-logout: #F08080;
    --border-color: #000;
    --white-home: #fff;
    --white-hover: #F5F5F5;
}

body {
    background-image: url('/pic/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Google Sans", sans-serif;
}

a {
  text-decoration: none !important; /* เอาขีดเส้นใต้ออก */
  color: #000;
}

.home-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--white-home);
    position: absolute; 
    top:20px;
    left: 5%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #000;
}

.home-btn:hover {
    background-color: var(--white-hover);
}

.logout-btn {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    background-color: var(--pink-logout);
    position: absolute;
    top: 20px; /* ลดระยะลงเล็กน้อยให้ดูพอดี */
    right: 5%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 10;
    color: #000;
}

.logout-btn:hover {
    background-color: var(--red-logout);
}